* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: #1a1b24;
    overflow: hidden;
}

#NAVBARM {
    display: flex;
    height: 100%;
    position: absolute;
    bottom: 7px;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 100px;
    row-gap: 37px;
    z-index: 0;
    animation: INCOME .75s ease-in-out 0s 1;
    /* padding-bottom: 60px; */
}

#RS {
    scale: 1.5;
}

#MA {
    position: relative;
    background-color: #444;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: .1em;
    padding: 10px 30px;
    transition: .5s;
}

#MA:hover {
    letter-spacing: .25em;
    background: var(--clr);
    color: var(--clr);
    box-shadow: 0 0 35px var(--clr);
}

#MA::before {
    content: '';
    position: absolute;
    inset: 2px;
    background: #27282c;
    transition: .5s;
}

#MA #MS {
    position: relative;
    z-index: 1;
    transition: .5s;
}

#MA #MI {
    position: absolute;
    inset: 0;
    display: inline-block;
    /* CHANGES REQ. */
    transition: .5s;
}

#MA #MI:before {
    content: '';
    position: absolute;
    top: -3.5px;
    left: 80%;
    width: 10px;
    height: 5px;
    border: 2px solid var(--clr);
    background: #27282c;
    transform: translateX(-50%);
    transition: .5%;
}

#MA:hover #MI::before {
    width: 20px;
    left: 20%;
    transition: .5s;
}

#MA #MI:after {
    content: '';
    position: absolute;
    bottom: -3.5px;
    left: 20%;
    width: 10px;
    height: 5px;
    border: 2px solid var(--clr);
    background: #27282c;
    transform: translateX(-50%);
    transition: .5%;
}

#MA:hover #MI::after {
    width: 20px;
    left: 80%;
    transition: .5s;
}

@keyframes INCOME {
    0% {
        opacity: 0;
        scale: 0;
        transform: translateY(730px);
    }

    50% {
        opacity: 0;
        scale: .9;
        transform: translateY(370px);
    }

    80% {
        opacity: .73;
        scale: .9;
        transform: translateY(300px);
    }

    100% {
        opacity: 1;
        scale: 1;
        transform: translateY(0px);
    }
}

@media (min-width: 300px) and (max-width: 450px) {
    #NAVBARM {
            flex-direction: column;
        }
    
        #RS {
            margin-bottom: 67px;
        }
}